body
{
    text-align: center;
}

#app {
    background-color: rgb(68, 113, 151);
}

#myCarousel
{
    background: linear-gradient (blue, red);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
